<h1>Submit a message</h1>
<form method="POST" action="/new">
    <div class="text-input">
        <label for="name-input">Name:</label>
        <input type="text" name="messageUser" id="name-input">
    </div>
    <div class="text-input">
        <label for="message-input">Message:</label>
        <input type="text" name="messageText" id="message-input">
    </div>
    <input type="submit" value="Submit">
</form>
<h3><a href="/">Go back</a></h3>
