<div class="container">
    <h1>Mini Messageboard</h1>
    <form method="POST" action="/new" class="message">
        <h2>Submit a message</h2>
        <div class="text-input">
            <label for="name-input">Name:</label>
            <input type="text" name="messageUser" id="name-input">
        </div>
        <div class="text-input">
            <label for="message-input">Message:</label>
            <input type="text" name="messageText" id="message-input">
        </div>
        <div class="bottom-bar">
            <a href="/">Go back</a>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
