<div class="container">
    <h1>{{title}}</h1>
    {{#each messages}}
    <div class="message">
        <h2>{{this.user}}</h2>
        <p class="message-text">{{this.text}}</p>
        <p class="date">{{this.added}}</p>
    </div>
    {{/each}}
    <a href="new" class="link">Add a message</a>
</div>
